body {
    background-color: rgb(240, 240, 240);
}

div.container {
    width: 1140px;
    margin: auto;
    padding: 0 15px;
}

header {
    background-color: blanchedalmond;
    text-shadow: burlywood;
    text-align: center;
    margin-top: 15px;
}

.img-shia {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    z-index: 0;
}

div.head-container {
    margin-bottom: 15px;
}

div.content {
    /*overflow: auto;*/
}

nav {
    float: left;
    background-color: bisque;
    width: 28%;
    padding: 0 15px 0 0;
}

li {
    padding-top: 5px;
}

article {
    float: right;
    text-align: center;
    background-color: bisque;
    width: 70%;
}

/* div#middle {
    
}

section::after {
    content: "";
    display: table;
    clear: both;
}*/

footer {
    background-color: cadetblue;
    margin-top: 15px;
    border: 1px solid black;
    text-align: center;
    position: unset;
}

.circle {
    width: 40vh;
    height: 40vh;
    background-color: aqua;
    border-radius: 50%;
    border-bottom: 120px solid red;
    border-left: 120px solid orange;
    border-right: 120px solid blue;
    border-top: 120px solid green;
    margin: 0 auto;
    transition: transform 5s cubic-bezier(0.33, 0.39, 0.46, 0.96);
}

.circle:hover {
    transform: rotate(3880deg);
}