header {
    background-color: blanchedalmond;
    text-shadow: burlywood;
    text-align: center;
}

nav {
    float: left;
    background-color: bisque;
    padding: 5px;
    width: 20%;
    height: 300px;
}

li {
    padding-top: 5px;
}

article {
    float: left;
    text-align: center;
    margin-left: 5%;
    background-color: bisque;
    padding: 5px;
    width: 70%;
    height: 300px;
}

/* div#middle {
    
}*/

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: cadetblue;
    margin-top: 20px;
    border:2px solid black;
    text-align: center;
    position: unset;
}

.circle {
    width: 40vh;
    height: 40vh;
    background-color: aqua;
    border-radius: 50%;
    border-bottom: 120px solid red;
    border-left: 120px solid orange;
    border-right: 120px solid blue;
    border-top: 120px solid green;
    margin: 0 auto;
    transition: transform 5s cubic-bezier(0.33, 0.39, 0.46, 0.96);
}

.circle:hover {
    transform: rotate(3880deg);
}